<!DOCTYPE html>
<html lang="en" xmls:"http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
  
  <h1 class="text.center"><center> Student Admissions</center></h1>

  <nav class="navbar navbar-light bg-light">
   <table class="table table-striped-columns">
<a th:href="@{/getCourse}" class="btn btn-outline-success">Course Details</a>
<br>
<a th:href="@{/getStudent}" class="btn btn-outline-success">Student Details</a>
</nav>
</table>




</div>


  
  </div>  

</body>
</html>