<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:"http://thymeleaf.org">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>
<body>
    <a class="container-fluid">
        <div>
          <h1 class="h1">update courses</h1>
          <form action="#" th:action="@{/saveCourse}" method="POST" th:object="${course}">
            <input type="text" th:field="*{id}" placeholder="Enter id"></input>
              <input type="text" th:field="*{courseCode}" placeholder="Enter Course Code"></input>
                  <input type="text" th:field="*{courseName}" placeholder="Enter Course Name"></input>
                      <input type="submit" class="btn btn-primary" id="liveToastBtn"></input>
          </form>
        </div>
      
</body>
</html>